<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="15">
	<Properties>
		<Property name="log-path">logs/</Property>
		<Property name="blank-pattern-layout">%msg%n</Property>
		<Property name="only-thread-name-layout">%t -> %msg%n</Property>
		<Property name="default-pattern-layout">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
		<Property name="debug-pattern-layout">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} (%F:%L) - %msg%n</Property>
	</Properties>
	<Appenders>
		<RollingRandomAccessFile name="fileOutputLog" immediateFlush="false" append="true" fileName="${log-path}/console.log"
			filePattern="${log-path}/console-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${default-pattern-layout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="64MB" />
			</Policies>
			<!-- <DefaultRolloverStrategy max="4" /> -->
		</RollingRandomAccessFile>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${debug-pattern-layout}" />
		</Console>
		<RollingRandomAccessFile name="fileOutputLogBlankInfo" immediateFlush="true" append="true" fileName="${log-path}/console.log"
			filePattern="${log-path}/console-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${blank-pattern-layout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="64MB" />
			</Policies>
		</RollingRandomAccessFile>
		<Console name="consoleBlankInfo" target="SYSTEM_OUT">
			<PatternLayout pattern="${blank-pattern-layout}" />
		</Console>
		<Console name="consoleThreadNameOnly" target="SYSTEM_OUT">
			<PatternLayout pattern="${only-thread-name-layout}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info" includeLocation="false">
			<AppenderRef ref="fileOutputLog" />
			<!-- <AppenderRef ref="console" /> -->
		</Root>
		<Logger name="pureLogger" additivity="false" level="info">
			<AppenderRef ref="fileOutputLogBlankInfo" />
			<AppenderRef ref="consoleBlankInfo" />
		</Logger>
		<Logger name="errorLogger" additivity="false" level="debug" includeLocation="false">
			<AppenderRef ref="fileOutputLog" />
		</Logger>
		<Logger name="onlyThreadName" additivity="false" level="debug">
			<AppenderRef ref="consoleThreadNameOnly" />
		</Logger>
		<Logger name="com" additivity="true" level="debug" includeLocation="true">
			<AppenderRef ref="console" />
		</Logger>
	</Loggers>
</Configuration>